.videoPlay{
    margin: 0 50px 0 50px;
}

.videoPlay iframe{
    width: 800px;
    height: 450px;
    border-radius: 10px;
}

.videoPlay h2{
    margin: 10px 15px 10px 15px;
    text-align: justify;
}

.videoPlayItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 15px 10px 15px;
}

.videoPlayImg{
    display: flex;
    align-items: center;
    gap: 10px;
}

.videoPlayImg img{
    width: 50px;
    border-radius: 50%;
}

.videoPlayImg button{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: medium;
}

.videoPlay p{
    margin: 0;
    font-weight: 600;
    margin-bottom: 5px;
}

.videoPlay span{
    font-size: small;
    color: #6f6f6f;
}

.videoPlayItems_right{
    display: flex;
    gap: 10px;
}

.videoPlayItems_right div{
    padding: 10px;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    gap: 5px;

}

.videoPlayItems_right div span{
    color: black;
    font-size: medium;
}

.videoPlayItems_descreption{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    text-align: justify;
    margin: 0 15px 0 15px;
}

.videoPlayItems_descreption .span{
    color: black;
    font-size: medium;
    font-weight: 600;
}

.videoPlayItems_descreption span{
    color: black;
}


@media(max-width : 576px){

    .videoPlay{
        width: 100%;
        margin: 0;
    }


    .videoPlay iframe{
        width: 100% !important;
        height: auto;
        aspect-ratio: 16 / 9;
        border-radius: 0;
        display: block;
    }
}

@media(max-width : 992px){

    .videoPlay{
        width: 100%;
        margin: 0;
    }


    .videoPlay iframe{
        width: 100% !important;
        height: auto;
        aspect-ratio: 16 / 9;
        border-radius: 0;
        display: block;
    }
}