#showMore{
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.videopage{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.videoPlay{
    flex: 1.5;
}

.videoPlay iframe{
    width: 900px;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.videoPlay h2{
    text-align: justify;
}

.videoPlayItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.videoPlayImg{
    display: flex;
    align-items: center;
    gap: 10px;
}

.videoPlayImg img{
    width: 50px;
    border-radius: 50%;
}

.videoPlayImg button{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: medium;
}

.videoPlay p{
    margin: 0;
    font-weight: 600;
    margin-bottom: 5px;
}

.videoPlay span{
    font-size: small;
    color: #6f6f6f;
}

.videoPlayItems_right{
    display: flex;
    gap: 10px;
}

.videoPlayItems_right div{
    padding: 10px;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    gap: 5px;

}

.videoPlayItems_right div span{
    color: black;
    font-size: medium;
}

.videoPlayItems_descreption{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    text-align: justify;
}

.videoPlayItems_descreption .span{
    color: black;
    font-size: medium;
    font-weight: 600;
}

.videoPlayItems_descreption span{
    color: black;
}

.videoSuggestion{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommendedVideos{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.recommendedVideos img{
    width: 170px;
    border-radius: 10px;
}

.recommendedVideos h5, .recommendedVideos p{
    margin: 0;
}

.recommendedVideos p{
    font-size: small;
}


@media(max-width : 576px){

    .videopage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .videopage .videoSuggestion{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    .recommendedVideos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 10px;
    }

    .recommendedVideos .logo, .recommendedVideos .data{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .recommendedVideos .logo img{
        width: 100%;
    }

    .videoPlay{
        width: 100%;
        margin: 0;
    }

    .videoPlay h2, .videoPlayItems, .videoPlayItems_descreption{
        margin-left: 10px;
        margin-right: 10px;
    }


    .videoPlay iframe{
        width: 100% !important;
        height: auto;
        aspect-ratio: 16 / 9;
        border-radius: 0;
        display: block;
    }

    .data h5, .data p{
        margin-bottom: 5px;
    }
}

@media(max-width : 992px){

    .videoPlay{
        width: 100%;
        margin: 0;
    }


    .videoPlay iframe{
        width: 100% !important;
        height: auto;
        aspect-ratio: 16 / 9;
        border-radius: 0;
        display: block;
    }
}